{
   "session_attributes":{
     "kerberos_admin":{
       "principal": "{{ kerberos_server_kadmin_user }}",
       "password": "{{ kerberos_server_kadmin_pass }}"
     }
   },

   "Clusters":{
     "security_type":"KERBEROS"
   }
}