[
  {
    "Clusters": {
      "desired_config": {
        "type": "krb5-conf",
        "properties": {
          "domains" : "{{ kerberos_server_realm_name|lower() }}, .{{ kerberos_server_realm_name|lower() }}",
          "manage_krb5_conf" : "true",
          {% raw %}
          "content":"\n[libdefaults]\n  renew_lifetime = 7d\n  forwardable = true\n  default_realm = {{realm|upper()}}\n  ticket_lifetime = 24h\n  dns_lookup_realm = false\n  dns_lookup_kdc = false\n  #default_tgs_enctypes = {{encryption_types}}\n  #default_tkt_enctypes = {{encryption_types}}\n\n{% if domains %}\n[domain_realm]\n{% for domain in domains.split(',') %}\n  {{domain}} = {{realm|upper()}}\n{% endfor %}\n{% endif %}\n\n[logging]\n  default = FILE:/var/log/krb5kdc.log\n  admin_server = FILE:/var/log/kadmind.log\n  kdc = FILE:/var/log/krb5kdc.log\n\n[realms]\n  {{realm}} = {\n    admin_server = {{admin_server_host|default(kdc_host, True)}}\n    kdc = {{kdc_host}}\n  }\n\n{# Append additional realm declarations below #}\n",
          {% endraw %}
          "conf_dir":"/etc"          
        }
      }
    }
  },
  {
    "Clusters": {
      "desired_config": {
        "type": "kerberos-env",
        "properties": {
          "kdc_type" : "mit-kdc",
          "manage_identities": "true",
          "install_packages": "true",
          "realm" : "{{ kerberos_server_realm_name }}",
          "kdc_host" : "{{ kerberos_server }}",
          "ldap_url" : "",
          "create_attributes_template":"\n{\n  \"objectClass\": [\"top\", \"person\", \"organizationalPerson\", \"user\"],\n  \"cn\": \"$principal_name\",\n  #if( $is_service )\n  \"servicePrincipalName\": \"$principal_name\",\n  #end\n  \"userPrincipalName\": \"$normalized_principal\",\n  \"unicodePwd\": \"$password\",\n  \"accountExpires\": \"0\",\n  \"userAccountControl\": \"66048\"\n}\n    ",
          "encryption_types":"aes des3-cbc-sha1 rc4 des-cbc-md5",
          "executable_search_paths":"/usr/bin, /usr/kerberos/bin, /usr/sbin, /usr/lib/mit/bin, /usr/lib/mit/sbin",
          "admin_server_host" : "{{ kerberos_server }}"
        }
      }
    }
  }
]