{
  "Upgrade": {
    "repository_version": "{{ hdp_repository_version }}",
    "upgrade_type":"NON_ROLLING",
    "skip_failures":"false",
    "skip_service_check_failures":"false",
    "direction":"UPGRADE"
  }
}