{
    "blueprint" : "{{ blueprint_name }}",
    "default_password" : "{{ default_password }}",
    "host_groups" :[
        {
            "name" : "host_group_1",
            "hosts" : [
                {
                    "fqdn" : "dn1.hdp.local"
                }
            ]
        }
    ]
}